[user]
	name = Chris Apple
	email = cja-private@pm.me
[credential]
	helper = osxkeychain
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	autocrlf = input
	excludesfile = ~/.gitignore
  pager = delta --paging auto
  #pager = delta --side-by-side --width $(expr ${COLUMNS} - 10) --wrap-max-lines unlimited
	whitespace = trailing-space
[push]
	default = current
	autoSetupRemote = true
[difftool]
    prompt = true
    colorMoved = default
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[alias]
    edit-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; nvim `f`"
    add-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; git add `f`"
    uncommit = reset --soft HEAD^
    oneline = "log --oneline"
[merge]
	conflictstyle = diff3
[log]
	date = "local"
[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false # required for git 2.37.0
[delta]
    navigate = true    # use n and N to move between diff sections
    #side-by-side = true # side by side instead of interleaved
[init]
	defaultBranch = main
[rerere]
	enabled = true
